# MSTest test Results
[Tt]est[Rr]esult*/

# MSBuild Binary and Structured Log
*.binlog

# Visual Studio cache/options directory
.vs/

# CSProj output directories
[Bb]in/
[Oo]bj/

# Local nuget package cache
packages/