name: Deploy Release

on:
  release:
    types: [published]

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: "true"

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup Dotnet for use with actions
      uses: actions/setup-dotnet@v1
    - name: Pack
      run: dotnet pack -c Release -p:PackageOutputPath="$env:GITHUB_WORKSPACE/out/packages" -p:ContinuousIntegrationBuild=true -p:BuildType=tagged
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: Packages
        path: out/packages
    - name: Setup NuGet.exe
      uses: NuGet/setup-nuget@v1.0.2
    - name: Add GPR Source
      run: nuget source Add -Name "GPR" -Source "https://nuget.pkg.github.com/MeikTranel/index.json" -UserName MeikTranel -Password ${{ secrets.GITHUB_TOKEN }}
    - name: Push to GPR
      run: Get-ChildItem -Path out/packages -Filter *.nupkg | %{ nuget push $_.FullName -Source "GPR" }
      shell: pwsh
    - name: Push to NuGet Gallery
      run: Get-ChildItem -Path out/packages -Filter *.nupkg | %{ dotnet nuget push $_.FullName -k ${{ secrets.NUGETGALLERY_NXPORTS_SECRET }} -s https://api.nuget.org/v3/index.json }
      shell: pwsh
